body {
  background-image: url("/img/pexels-eberhard-grossgasteiger-844297.jpg") ;
  background-size: 1570px;
  background-repeat: no-repeat;
  background-position: center center;

}
.appWrapper {
  max-width: 700px;
    margin: 100px auto;
}
.weatherApp {
    padding: 20px;
    border: 1px solid #667377;
    backdrop-filter: blur(50px);
}