body {
  background-image: url("/img/nathan-anderson-L95xDkSSuWw-unsplash.jpg") ;
  background-size: 1380px;
  background-repeat: no-repeat;
  background-position: center center;
  font-family: 'Mulish', sans-serif;  
}
.appWrapper {
  max-width: 700px;
    margin: 100px auto;
}
.weatherApp {
    padding: 20px;
    border: 1px solid #131F35;
    backdrop-filter: blur(50px);
    border-radius: 10px;
    box-shadow: 0px 0px 5px #0a7474;
}
.icon{
    width: 80px;
    position: relative;
    right: -6px;
}



 h1{
    margin-top: 15px;
    margin-bottom: 0px;
    line-height: 30px;
 }
 .selected-city::first-letter,ul::first-letter{
    text-transform: uppercase;
 }
 .selected-city,.city-temp,.forcastPreview{
    color: #00b3b3;
 }
.city-temp{
    text-align: right;
    position: relative;
    top: -20px;
}
.searchIcon{
    position: relative;
    left: -10px;
    bottom: -4px;
}
ul {
    list-style: none;
    text-align: left;
    font-size: 12px;
    line-height: 20px;
    padding-right: 9px;
    padding-top: 6px;
    position: relative;
    left: -32px;
    top: -40px;
    margin-bottom: 50px;
    color: #588DB7;
}
strong,.info {
    color: #c54a73;
}
.min-temp{
    color: #c54a73;
}
hr {
    margin: 5px;
    color: black;
}
.preview{
    text-align: center;
}
.forcastPreview{
    transition: 200ms  ease-in-out;
    
}
.forcastPreview:hover{
     border: 0.2px solid #588DB7;
     background-color: #588DB7;
     border-radius: 10px;
     cursor: text;
     color: aliceblue;
    -webkit-text-stroke: 0.1px #012c4e;
}
.info{
    text-decoration: none;
     font-weight: bold;
}
.info-name{
   color: rgb(109, 207, 207);
}
.info-icon{
    width: 80px;
}
.form-control:focus {
  border-color: #A17081;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 0, 0, 0.6);
}
#submit-btn{
    background-color: #2b7abb;
    border:1.5px solid #2b7abb;
}
#submit-btn:hover{
    background-color: #1d6baa;
    border:1.5px solid #1d6baa;
}